# SPDX-License-Identifier: Apache-2.0

# Enable MPU
# CONFIG_ARM_MPU=y

# Enable HW stack protection
# CONFIG_HW_STACK_PROTECTION=y

# CONFIG_SERIAL=y

# console
# CONFIG_CONSOLE=y
# CONFIG_USE_SEGGER_RTT=y
# CONFIG_RTT_CONSOLE=y
# CONFIG_UART_CONSOLE=y

# shell
# CONFIG_SHELL=y

# enable GPIO
# CONFIG_GPIO=y 

# # Enable MPU
CONFIG_ARM_MPU=y

# # Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

CONFIG_SERIAL=y

# # console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# # enable GPIO
CONFIG_GPIO=y
